body {
    font-family: "Varela Round",sans-serif;
    height: 100vh;
    background-color: rgb(120, 223, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}






.tarjeta-contenedor {
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    max-width: 500px;
    width: 80%;
}

.foto-usuario img {
    border-radius: 50%;
    width: 100px;
    border: 6px solid white;

}
.tarjeta {
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.foto-usuario{
    position: absolute;
    left: 20px;
    top: 19px;
}
.tarjeta-contenido{
    padding: 60px 70px 20px 40px;
}
.tarjeta-contenido .ocupation{
    font-size: 200px;
    font-weight: 700;
    color: blue;
    text-align: right;
}

.tarjeta-contenido .nombre-completo{
    margin:0;
    padding-top: 200px;
}

.descripcion{
    margin: 0;
    padding-top: 10px;

}
.redes-sociales nav{
    width: 100%;
    padding-top: -50px;
    display: flex;
    justify-content: space-evenly
}
.tarjeta-foto{
    background-image: url(assets/images.jpg);
    background-size: cover;
    width: 140px;
    height: 300px;
    border-radius: 20px 0 0;
}
